{
  "arrowParens": "avoid",
  "bracketSpacing": true,
  "endOfLine": "auto",
  "bracketSameLine": true,
  "jsxSingleQuote": true,
  "printWidth": 120,
  "proseWrap": "never",
  "semi": true,
  "singleAttributePerLine": true,
  "singleQuote": true,
  "tabWidth": 2,
  "trailingComma": "all",
  "useTabs": false,
  "overrides": [
    {
      "files": "*.ts",
      "options": {
        "parser": "typescript"
      }
    },
    {
      "files": "*.tsx",
      "options": {
        "parser": "typescript"
      }
    }
  ],
  "importOrder": [
    "^react(.*)$",
    "^(next|@emotion)/.*",
    "@mui/*",
    "@/*",
    "<THIRD_PARTY_MODULES>",
    "^src/(.*)$",
    "^[./]"
  ],
  "importOrderSeparation": true,
  "importOrderSortSpecifiers": true,
  "plugins": ["@trivago/prettier-plugin-sort-imports"]
}
