.view-my-work-button {
  background-color: var(--background-color-dark);
  border: 2px solid var(--title-color);
  color: var(--title-color);
  cursor: pointer;
  font-size: var(--font-size-l);
  padding: var(--spacing-size-b) var(--spacing-size-d);
  text-decoration: none;
  margin: var(--spacing-size-e);
}

.smooth-scroll {
  scroll-behavior: smooth;
}
